version: 2

updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    versioning-strategy: increase
    # Groups for regular version updates
    groups:
      minor-and-patch-version:
        applies-to: version-updates
        update-types:
          - "minor"
          - "patch"

      # Optional: group security PRs separately
      minor-and-patch-security:
        applies-to: security-updates
        update-types:
          - "minor"
          - "patch"
