{% extends "base.html" %}
{% load static %}

{% block content %}


  <h1>Some mischievous tools</h1>
  {% if user.is_authenticated %}
    <button type="button" class="btn btn-primary btn-sm" onclick="location.reload();">
      <i class="fas fa-sync-alt"></i> Refresh
    </button>

    <div
      hx-post="/update-youtube-status/"
      hx-trigger="load"
      hx-swap="outerHTML"
      hx-vals='{"first": true}'
    >
      Loading YouTube status...
    </div>

  {% else %}
    <h2 class="text-danger mt-4">Login to get access to tools!</h2>
  {% endif %}
{% endblock content %}
